<h1>掲示板一覧</h1>
<div>
  <% @rooms.each do |room| %>
    <div class="bulletin-board-item border-bottom mt-4 mx-auto">
      <div class="bulletin-board-title">
        <h3><%= link_to room.title, rooms_show_path(room, id: room.id) %></h3>
      </div>
      <div class="bulletin-board-description mx-auto">
        <p><%= truncate(room.description, length: 150) %></p>
        <div class="clearfix"><%= render room.tag %></div>
        <p class="text-right">
          作成者 : <%= room.user.username %>
          作成日 : <%= room.created_at.to_s(:ja) %>
        </p>
      </div>
    </div>
  <% end %>
  <%= paginate @rooms %>
</div>